<template>
  <div v-if="productList.length > 0">
    <h3 class="text-center">Eklenen Ürünlerin Listesi</h3>
    <hr />
    <div class="row product-container">
      <app-product v-for="(product, index) in productList" :key="index">
        <img
          class="card-img-top"
          :src="product.selectedImage"
          :alt="product.title"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <small> <strong>Adet : </strong> {{ product.count }} </small>
          <br />
          <small> <strong>Fiyat : </strong> {{ product.price }} </small>
          <br />
          <small> <strong>Tutar : </strong> {{ product.totalPrice }} </small>
        </div>
      </app-product>
    </div>
  </div>
</template>
<script>
import { eventBus } from "../main";

import Product from "./Product.vue";

export default {
  components: {
    appProduct: Product,
  },
  data() {
    return {
      productList: [],
    };
  },
  created() {
    var productlist = this.productList;

    eventBus.$on("productAdded", (product) => {
      console.log(product, "byrasiprocuct");
      if (this.productList.length < 10) {
        console.log(this.productList, "burasi lsit");
        this.productList.push(product);
        eventBus.$emit("progressBarUpdated", this.productList.length);
      } else {
        alert("Daha fazla ürün ekleyemezsniz");
      }
    });
  },
};
</script>
